.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.rating-number {
    margin-right: 5px;
}

.star {
    color: gray;
}

.star.filled.green {
    color: rgba(92, 148, 3, 0.7);
}

.star.filled.orange {
    color: rgba(255, 165, 0, 0.7);
}

.star.filled.red {
    color: rgba(187, 2, 2, 0.7);
}


.movie-details-info>.rating{
    justify-content: flex-start;
    font-size: 30px;

}




