form>input,form>button{
    background: transparent;
    margin: 0;
    padding: 0;
    height: 40px;
    display:block;
    box-sizing: border-box;
    border-style: solid;
}
form>input{
    width: 25vw;
    padding: 5px;
    color: #868585;
}

form>button{
    margin-right: 2vw;
    margin-left: 10px;
    background: transparent;
    font-size: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: #5e5e5e;
}